
<div class="col-10 offset-1 pagination_div">
  <%= will_paginate @place, previous_label: h("<"), next_label: h(">") %>
</div>



<% @place.each do |place| %>
  <div class="booyah-box col-10 offset-1">
      
        <ul class="bxslider text-center">  
        <% if place.photos.present? %>
            <% place.photos.each do |photo| %>
            <li>
              <%= image_tag photo.picture.url, class: "image_tag" %>
            </li>
            <% end %>
        <% end %>
      </ul>
    <h1> <%= link_to place.name, place_path(place) %></h1>
    <i> <%= place.address %></i><br /><br />
    <p> <%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
             <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
      
  </div>
<% end %>
